@use 'sass:math'
@import 'vars'

$double-vertical: '.ui-slider--vertical.ui-slider--interval'
$handle-width: 12px
$handle-half-width: math.div($handle-width, 2)
$handle-heigth: 30px
$label-height: 18px
$label-gap: 14px
$track-size: 6px

.ui-slider
  display: flex
  flex-direction: column
  justify-content: center
  gap: 4px
  padding: $label-height + $label-gap 0 0
  box-sizing: border-box

  &--vertical
    flex-direction: row
    align-content: stretch
    justify-content: flex-end
    align-self: stretch
    flex-grow: 1
    flex-basis: 100%
    padding: max(math.div($label-height - $handle-width, 2), 10px) 0
    height: 100%

  &__main-container
    position: relative
    padding: 0 $handle-half-width
    display: flex
    flex-direction: column
    justify-content: center
    min-height: $handle-heigth
    box-sizing: border-box

  &--vertical &__main-container
    align-items: center
    padding: $handle-half-width 0
    min-height: 2 * $handle-width

  &--interval &__main-container
    padding: 0 $handle-width

  #{$double-vertical} &__main-container
    padding: $handle-width 0

  %sub-giglet
    content: ''
    display: block
    flex-basis: 50%

  &__giglet
    display: flex
    position: absolute
    left: 0
    width: 100%
    height: $track-size
    background-color: $color-main

    &::before
      @extend %sub-giglet
      background-color: $color-main

    &::after
      @extend %sub-giglet
      background-color: $color-accent

  &--vertical &__giglet
    flex-direction: column
    width: $track-size
    height: 100%
    left: unset

    &::before
      background-color: $color-accent

    &::after
      background-color: $color-main

  &--interval &__giglet

    &::before
      background-color: $color-accent

  #{$double-vertical} &__giglet
    
    &::after
      background-color: $color-accent

  &__container
    display: flex
    justify-content: center
    align-items: center
    flex-basis: 100%
    position: relative

  &--vertical &__container
    width: $handle-heigth

  &__handle
    position: absolute
    margin: 0
    padding: 0
    width: $handle-width
    height: $handle-heigth
    border: none
    background-color: $color-main
    touch-action: none
    cursor: pointer
  
    &--start
      @extend .ui-slider__handle
      transform: translate(-$handle-half-width)

    &--end
      @extend .ui-slider__handle
      display: none

    &--front
      z-index: 1

    &:focus
      z-index: 1

      & > *
        color: $color-active
      
  &--vertical &__handle
    width: $handle-heigth
    height: $handle-width

    &--start
      transform: translate(0, -$handle-half-width)

  &--interval &__handle

    &--start
      transform: translate(-$handle-width)

    &--end
      display: unset

  #{$double-vertical} &__handle

    &--start
      transform: translate(0)
    
    &--end
      transform: translate(0, -$handle-width)

  &__label
    display: inline-flex
    align-items: center
    position: absolute
    top: -$label-height - $label-gap
    padding: 0 2px
    width: max-content
    height: max-content
    transform: translate(-50%)
    background-color: $color-main
    color: white
    pointer-events: none
    font-size: 1rem
    font-family: Unifont, monospace

    &--start
      @extend .ui-slider__label

    &--end
      @extend .ui-slider__label

    &--hidden
      display: none

    &--active
      color: $color-active

  &--vertical &__label
    transform: translate(0, -50%)
    right: calc(100% + #{$label-gap})
    top: unset

  &__track
    display: flex
    justify-content: space-between
    background-color: $color-accent
    width: 100%
    height: $track-size

  &--vertical &__track
    flex-direction: column
    width: $track-size
    height: 100%

  &--interval &__track
    background-color: $color-main

  &__progress-bar
    background-color: $color-main

    &--start
      @extend .ui-slider__progress-bar

    &--end
      @extend .ui-slider__progress-bar

  &--interval &__progress-bar
    background-color: $color-accent

  &__scale
    position: relative
    display: flex
    align-self: center
    width: calc(100% - #{$handle-width})

    &--hidden
      display: none

    &-container
      position: absolute
      display: flex
      width: 100%
      height: 100%

    &-label
      transform: translate(-50%, 0)

    &-button
      display: flex
      align-items: center
      flex-basis: 100%
      margin: 0
      padding: 0
      background-color: #ffffff00
      border: none
      cursor: pointer
      outline: none
      font-size: 0.7rem
      font-family: Unifont, monospace

      &:hover, &:focus
        color: $color-active-scale-label

      &:first-child
        
        & > *
          transform: translate(-$handle-half-width, 0)

      &:last-child
        justify-content: flex-end

        & > *
          transform: translate($handle-half-width, 0)

  &--interval &__scale
    width: calc(100% - #{$handle-width} * 2)

    &-button:first-child

      & > *
        transform: translate(-$handle-width, 0)
    
    &-button:last-child
      
      & > *
        transform: translate($handle-width, 0)

  &--vertical &__scale
    max-width: 50%
    width: unset
    align-self: stretch
    align-items: center

    &-container
      flex-direction: column-reverse
      height: calc(100% - #{$handle-width})

    &-label
      transform: translate(0, 50%)

    &-button
      justify-content: center
      align-items: flex-end

      &:first-child
        align-items: flex-end

        & > *
          transform: translate(0, 50%)

      &:last-child
        align-items: flex-start

        & > *
          transform: translate(0, -50%)

  #{$double-vertical} &__scale
    
    &-container
      height: calc(100% - #{$handle-width} * 2)

