include ../conf/conf

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title demo
    script(src="https://code.jquery.com/jquery-3.4.1.min.js")
  body
    +conf
    +conf
    +conf
    +conf
