@import '../conf/conf.sass'
@import '../fonts/unifont/stylesheet.css'

html
  font-size: 24px
  font-family: Unifont, monospace
  margin: 0

body
  display: flex
  flex-direction: column
  gap: 10px
  align-items: center
  background-color: #d7d6d694
  min-height: 100vh
  margin: 0
  padding: 20px
  box-sizing: border-box

.container
  display: flex
  flex-direction: column
  min-width: 40vw
  gap: 10px

  &_vertical
    flex-grow: 1

    & .slider
      flex-grow: 1
      min-height: 120px

.slider
  display: flex
  flex-direction: column
  border: .5px dashed pink

