html
  font-size: 24px
  font-family: monospace
  margin: 0

body
  display: flex
  flex-direction: column
  height: 100vh
  background-color: #d7d6d694
  margin: 0
  padding: 50px
  box-sizing: border-box

#slider3
  height: 100%
  box-sizing: border-box

.container
  flex-grow: 1
