-
  const hi = 'hihewhe'

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title demo
    script(src='https://code.jquery.com/jquery-3.4.1.min.js')
  body
    | 'hihe'
    #slider1 
    .js-hihe
    #slider2 
    #slider3 

