mixin conf
  - 
    const numericNames = ['min', 'max', 'step', 'from', 'to'];
    const switchesNames = ['interval', 'vertical', 'labels', 'scale'];

  .conf
    .conf__container
      each name in numericNames
        label.conf__numeric-label
          span.conf__numeric-sign= name
          input.conf__numeric-input(type='number')
    .conf__container
      each name in switchesNames
        label.conf__switches-label
          span.conf__switches-sign= name
          input.conf__switches-input(type='checkbox')
          span.conf__switches-box

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title demo
    script(src='https://code.jquery.com/jquery-3.4.1.min.js')
  body
    .container
      .slider.js-slider
      +conf
    .container.container_vertical
      .slider.js-slider
      +conf
    .container
      .slider.js-slider
      +conf
    .container.container_vertical
      .slider.js-slider
      +conf

