html
  font-size: 24px
  font-family: monospace
  margin: 0

body
  display: flex
  flex-direction: column
  background-color: #d7d6d694
  min-height: 101vh
  margin: 0
  padding: 12px 12px 20px
  box-sizing: border-box

#slider3, #slider2
  display: flex
  flex-grow: 1
  flex-direction: column

#slider3
  height: 100px
