-
  const hi = 'hihewhe'

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title demo
    script(src='https://code.jquery.com/jquery-3.4.1.min.js')
  body
    #slider1.slider
    .js-hihe.slider
    #slider2.slider
    #slider3.slider

