@import slider/styles/vars

.conf
  display: flex
  flex-direction: column
  min-width: 40vw
  gap: 10px

  &_vertical
    flex-grow: 1

    & .conf__slider
      flex-grow: 1
      min-height: 120px

  &__slider
    display: flex
    flex-direction: column
    border: .5px dashed pink

  &__container
    display: flex
    flex-wrap: wrap
    gap: 4px

  &__numeric

    &-label
      display: flex
      width: 120px
      cursor: pointer
      font-size: .7rem

    &-sign
      padding: 4px

    &-input
      min-width: 0
      font-family: Unifont, monospace
      font-size: 1rem
      border: 1px dashed black
      outline: none
      font-size: .7rem

      &_wrong
        animation: .1s 4 shaking, 1s stipes

      &:focus
        border: 1px dashed $color-active-scale-label
            
  &__switches
    
    &-label
      display: flex
      cursor: pointer
      font-size: .7rem

    &-sign
      padding: 4px

    &-input
      position: absolute
      -webkit-appearance: none
      appearance: none
      font-size: .7rem

      &:focus

        & + .conf__switches-box
          border-color: $color-active-scale-label

      &:checked
        
        & + .conf__switches-box
          box-shadow: -30px 0px 0px 0px $color-active inset

    &-box
      width: 60px
      border: 1px dashed black
      background-color: #fff
      box-shadow: 30px 0px 0px 0px $color-main inset

  @keyframes stipes
    0%
      background: repeating-linear-gradient(45deg, tomato, tomato 8px, white 8px, white 16px)
    100%
      background: inital

  @keyframes shaking
    33%
      transform: translate(1px)
    66%
      transform: translate(-1px)
    100%
      transform: translate(0)
